.header {
    padding: 2em 0 5em;
    text-align: center;
    background: url('../../assets/wallpaper.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.info-block {
    padding: 1em;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.5);
    display: inline-block;
    font-size: 2em;
    line-height: 1.5em;
    border-radius: 3em;
    color: white;
}
.names {
    font-family: 'Ephesis', cursive;
    font-size: 2.5em;
    line-height: 1em;
    padding: 0.1em 0.3em;
}
.date {
    font-size: 1.5em;
    margin-bottom: 0.5em;
}
.time {
    margin-bottom: 0.5em;
}
.place {
    margin-bottom: 1em;
}
.place a {
    color: white;
    text-decoration: none;
}
.place a:hover,
.place a .text {
    text-decoration: underline;
}

@media (max-width:1200px){
    .info-block {
        font-size: 1.5em;
        min-width: 95%;
    }
}
@media (max-width:800px){
    .header {
        padding: 1em 0;
    }
    .info-block {
        font-size: 1em;
        padding: 1em 0.2em;
    }
}
@media (max-width:500px){
    .names span {
        display: block;
    }
    .place a {
        display: block;
    }
}
