.timeline > li {
    min-height: 200px;
}
#timeline-10 {
    background-image:url(../../assets/harmonia.jpg)
}
#timeline-11 {
    background-image:url(../../assets/timeline/prichod.jpg)
}
#timeline-12 {
    background-image:url(../../assets/timeline/12.jpg)
}
#timeline-13 {
    background-image:url(../../assets/timeline/13.jpg)
}
#timeline-15 {
    background-image:url(../../assets/timeline/torta1.jpg)
}
#timeline-16 {
    background-image:url(../../assets/timeline/poker.jpg)
}
#timeline-18 {
    background-image:url(../../assets/timeline/vecera.jpg)
}
#timeline-19 {
    background-image:url(../../assets/timeline/plavba.jpg)
}
#timeline-21 {
    background-image:url(../../assets/timeline/zapad-slnka.jpg)
}
