.wedding-tables-container {
    background: transparent url('../../assets/flowers_top_bg.jpg') 0 -100px repeat-x;
    padding: 50px 0;
}
.wedding-tables {
    display: grid;
    grid-template-rows: auto;
    grid-template-areas:
            "header header header"
            "left . right"
            "left . right"
            "left . right"
            "left . right"
}
.wedding-table {
    margin: 0 0 20px 0;
}
.wedding-table ul {
    margin: 0;
    padding: 0;
}
.wedding-table ul li {
    list-style: none;
}

.wedding-table-1 {
    grid-area: header;
}
.wedding-table-2 {
    grid-area: left;
}
.wedding-table-3 {
    grid-area: left;
}
.wedding-table-4 {
    grid-area: left;
}
.wedding-table-5 {
    grid-area: right;
}

@media(max-width: 1000px) {
    .wedding-tables-container {
        background-size: auto 35%;
    }
    .wedding-tables {
        grid-template-columns: 33% 33% 33%;
    }
}
@media(max-width: 800px) {
    .wedding-tables-container {
        background-size: auto 25%;
    }
    .wedding-tables {
        grid-template-columns: 50% 50%;
    }
}
@media(max-width: 500px) {
    .wedding-tables-container {
        background-size: auto 15%;
    }
    .wedding-tables {
        grid-template-columns: 100%;
    }
    .wedding-tables > div:first-child {
        grid-row: 1;
    }
}
